<% include('header') %>

    <body>
        <form action="/continue" method="post">
            <label>Player 1 name: </label>
            <input required type="text" name="player1_name" id="player1_name">
            <br>
            <br>
            <label>Player 2 name: </label>
            <input required type="text" name="player2_name" id="player2_name">
            <button type="submit">Continue</button>
        </form>
    </body>

    </html>